.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroTitle {
  font-size: 4rem; /* Adjusted for prominence */
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.heroTitleAdopt {
  color: #7f00ff; /* Purple color for Adopt, adjust as needed */
}

.heroSubtitle {
  font-size: 1.25rem; /* Adjusted for prominence */
  margin-bottom: 2rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
  .heroTitle {
    font-size: 2.5rem; /* Adjust for smaller screens */
  }
  .heroSubtitle {
    font-size: 1rem; /* Adjust for smaller screens */
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}


