/* c:\Projects\kritzel\website\src\components\HomepageFeatures\styles.module.css */
.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 100px; /* Adjusted from 150px or previous value */
  width: 100px;  /* Adjusted from 150px or previous value */
  margin-bottom: 1rem; /* Adds space between SVG and title */
}