:host {
  display: flex;
}

.checkerboard-bg {
  background: repeating-conic-gradient(
      var(--kritzel-checkerboard-color-dark, #ccc) 0% 25%,
      var(--kritzel-checkerboard-color-light, #fff) 0% 50%
    )
    50% / 8px 8px;
  position: relative;
  overflow: hidden;
}

.color-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
}

.color-circle.white {
  border: 1px solid var(--kritzel-color-palette-circle-border-color, #dddcdc);
}